@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow-x: hidden;
  }
  .header {
    background-color: #f50000be;
    color: white;
    padding: 10px;
    text-align: center;
  }
  .container {
    max-width: 100%;
    margin: 0 auto;
    background-color: #000;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .ha{
    width: auto;
  }
    @media( max-width: 768px) {
    .movie{
    max-width: 100%;
    margin: 0;
    background-color: white;
    padding: 0;
    display: block;
    }
    .movie-details{
      display: block;
    }
  }
.button{
  padding: 6px 12px;
  margin: 0.5em 0;
  background: #535353;
  color: #ffffff;
  border: none;
  width: 100%;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
.button:hover{
 background-color: #f50000be;
  padding-left: 10px;
  font-size: 15px;
  transition: 0.5s;
}
.section-title{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}
.book{
  margin-top: 2rem;
}
.book-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px, auto));
  gap: 1.5rem;
}
@media(max-width: 1080px){
  section{
    padding: 3rem 0 2rem;
  }
  .shop{
    margin-top: 2rem !important;
  }
}
@media(max-width: 360px){
  .book{
    margin-top: 1rem !important;
  }
}
@media(max-width: 540px){
  .book-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, auto));
    gap: 2rem;
  }
}
@media(max-width: 800px){
  .book-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, auto));
    gap: 2.5rem;
  }
}
@media(max-width: 1030px){
  .book-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, auto));
    gap: 3rem;
  }
}
@media(max-width: 1280px){
  .book-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, auto));
    gap: 3.5rem;
  }
}
  
  
  
  
    
 
.name{
  display: flex;
  justify-content: center;
}


.container2{
  max-width: 1170px;
  margin: auto;
}
.container2 p{
  color: #fff;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  padding: 70px 0;
 
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
font-size: 18px;
text-transform: capitalize;
margin-bottom: 35px;
color: white;
font-weight: 500;
position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #f50000be;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
   margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #f50000be;
  padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #f50000be;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #fff;
  background-color: #000;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col {
    width: 50%;
    padding: 30px;
}
}
@media(max-width: 574px){
  .footer-col {
    width: 100%;
}
}




